<html>
    <head>
        <title>Dashboard</title>
        <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
        
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    </head>
    <body class="container">
        <header>
            <div class="header-bg"></div>
            <div class="header">
              <a href="/dashboard" class="logo">StocksApp</a>
              <div class="header-right">
                <a class="logout" href="/user/logout">Logout</a>
              </div>
            </div>
            <h1>DYNAMIC STOCK CHART</h1>
        </header>
               
             <script src="/socket.io/socket.io.js"></script>
             <script src="client.js"></script>

            <div style="padding-left:20px">
                <h4>Hi, <%= name %></h4>
              <p style="padding-bottom: 2em;">Track your holdings in real time.</p>
             
              <table id="tableID">
                 <tr>
                  <th>Instrument</th>
                  <th>Quantity</th>
                  <th>Current Value</th>
                  <th>LTP</th>
                  <th>Day Change</th>
                </tr>
              </table>
              
            </div>
    </body>
   
     <script>
        let table_data = JSON.parse('<%- JSON.stringify(table_data) %>');
       
            function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
            }

            function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
                }
            }
            }

            let table = document.querySelector("table");
            let data = Object.keys(table_data[0]);
            generateTable(table, table_data);
            //generateTableHead(table, data);
    </script> 
</html>